<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h2>Welcome to the text manipulator. Enter your text below</h2>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <br>
    <input type="checkbox" name="removepunc"> Remove punctuations<br>
    <input type="checkbox" name="capfirst"> Capitalize first letter<br>
    <input type="checkbox" name="remspace"> Remove spaces<br>
    <input type="checkbox" name="upper"> UPPERCASE<br>
    <input type="checkbox" name="lower"> lowercase<br>
    <br>
    <button type='submit'> Manipulate</button>

</form>
</body>
</html>
